

.page-row-1 p{
    font-size: 18px;
}

.committee{
    margin-bottom: 100px;
}
.ecm-card{
    border-bottom: #ddd 1px solid;
    padding: 10px 0;
}

.name-toggle{
    display: flex;

}


.toggle-wrap .name{
    /* color: #bd4630; */
}
.toggle-wrap.collapsed .name{
    color: #497aa0;
}
.toggle-wrap .name-toggle{
    background-color: rgba(73, 122, 160, 0.1);
    color: #000;
}
.toggle-wrap.collapsed .name-toggle{
    color: #000;
    background-color: rgba(73, 122, 160, 0);
}
.toggle-wrap.collapsed .name-toggle:hover{
    background: rgba(73, 122, 160, 0.1);
}
.toggle-wrap:hover{
    text-decoration: none;
    color: #000;
}
.toggle-wrap:hover .name{
    color: #bd4630;
}


.name{
    width:30%;
    font-size: 20px;
    padding: 10px;
    margin: 0;
    color: #497aa0;
    /* align-self: center; */
}
.name span{
    font-weight: 100;
}
p.title{
    width:40%;
    font-size: 14px;
    padding: 10px;
    margin:0;
    /* align-self: center; */
}
p.institution{
    width: 30%;
    font-size: 14px;
    padding: 10px;
    margin:0;
    /* align-self: center; */
}

#table-header p{
    background-color: #eee;
    color: #222;
    font-size: 18px;
}
#table-header .name{
    color: #000;
}

.collapse-content{
    display: flex;
    padding: 10px;
    background-color: rgba(238, 238, 238, 0.4);;
}
.headshot{
    width: 30%;
    /* padding: 10px; */
}
.bio{
    width:70%;
    padding: 10px;
}
.headshot-wrap{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
}
.headshot img{
    width: 100%;
    object-fit: cover;
    height: 170px;
}
