@media only screen and (max-width: 1440px) {
    h1{
        font-size: 48px;
    }
    h2{
        font-size: 24px;
    }
}

@media only screen and (max-width: 1199px) {
    
    .page-row{
        width: 80%;
    }
    h1.page-title{
        left: 10%;
    }
    
}



@media only screen and (max-width: 991px) {
    a.nav-link{
        padding: 0.4rem !important;
    }
    h1{
        font-size: 40px;
    }
    
    .navbar .dropdown-menu {
        text-align: right;
    }
    header{
        padding: 20px 15px;
        padding-top:50px;
    }
    #nav-icon img{
        width:250px;
    }    
    .page-row{
        width: 95%;
    }
    h1.page-title{
        left: 5%;
    }
    .page-row p{
        font-size: 14px;
    }
    p.intro {
        font-size: 18px;
    }
    img.diagram{
        padding:0;
    }
}


@media only screen and (max-width: 768px) {
    .navbar .dropdown-menu {
        text-align: right;
    }
    header{
        padding: 10px 5px;
        padding-top:30px;
    }
    ul.myList li{
        padding: 5px;
        font-size: 14px;
    }
   
}

@media only screen and (max-width: 575px) {
    h1{
        font-size: 36px;
    }
    #nav-icon img{
        width:220px;
    }    
}