@media only screen and (max-width: 1440px) {
    
    .home-row{
        padding: 20px 10%;
    }
}

@media only screen and (max-width: 1240px) {
    .home-row{
        padding: 20px 8%;
    }
    
    h2{
        font-size: 24px;
    }
    .proj-wrap p{
        font-size: 14px;
    }
    .cpan-box h3{
        font-size: 20px;
    }
}

@media only screen and (max-width: 992px) {
    
    .home-row{
        padding: 20px 5%;
    }
    #intro-row{
        padding-bottom: 15px
    }

    #projects-row{
        flex-wrap: wrap;
        padding: 30px 10px;
    }
    .proj-wrap{
        width:50%
    }
    .proj-wrap p{
        font-size: 16px;
    }

    .proj-title h3{
        font-size: 24px;
    }
    .proj-title{
        min-height: 45px;
    }
    
    .event-pad{
        width: 50%;
        max-width: none;
    }
    .banner-img-wrap, .banner-overlay, #intro-row{
        min-height: 600px;
    }
}

@media only screen and (max-width: 600px) {
    .proj-wrap{
        width:100%
    }

    .event-pad{
        width: 100%;
    }
    
}

@media only screen and (max-width: 400px) {
    .home-row{
        padding: 20px 10px;
    }
    
    h2{
        font-size: 20px;
    }
    #intro-row{
        padding-bottom: 0px
    }
    #intro-row p{
        font-size: 12px;
    }
    .banner-img-wrap, .banner-overlay, #intro-row{
        width:100%;
        height: 80vh;
        /* max-height: 420px; */
        min-height: 550px;
    }
    #covid-bar a{
        font-size: 14px;
        line-height: 1em;
    }
}