
.banner{
    position: relative;
}

.banner-img-wrap, .banner-overlay, #intro-row{
    width:100%;
    height: 65vh;
}
.banner-img-wrap{
    position: absolute;
    background: #0067B955;
    opacity: 1;
    background-blend-mode: color;
    /* background-image: url("../../img/home.jpeg"); */
    background-size: cover;
    background-position: 50% 50%;
}

.banner-overlay{
    position: absolute;
    background: linear-gradient(0deg, rgba(1,66,106,0.8) 0%, rgba(236,195,178,0.3) 100%);
    /* background: #01426A55; */
    opacity: 1;

}

.home-row{
    padding: 5% 15%;
}
#intro-row{
    position: relative;
    color: #fff;
    padding-bottom: 10vh;
}

.main-headline{
    text-shadow: 0px 0 5px #2F295199;
}
.main-headline h2{
    text-shadow: 0px 0 5px #2F295166;
    font-weight: 500;
    color: #fff;
}
.cpan-box{
    border: 1px solid #E03C31;
    border-radius: 10px;
    padding: 10px 15px 0px;
    margin-bottom: 10px;
    color: #D9E1E2;
    background-color: #01426A88;
}
.cpan-box h3 a{
    color: #fff;
    text-decoration: underline;
}
.cpan-box h3 a:hover{
    color: #D9E1E2;
}
.cpan-box h3 span{
    font-weight: 100;
    font-size: 0.7em;
}
#initiatives-row{
    padding-top: 5%;
    padding-bottom: 5%;
}

#initiatives-row a{
    color: #000;
}
#initiatives-row a:hover{
    text-decoration: none;
}
.proj-wrap{
    flex-grow: 1;
    width:100% ;
    padding: 10px 20px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.proj-wrap:hover{
    background: #E03C31;
}
.proj-wrap:hover h3{
    color: #fff;
}
.proj-wrap:hover p{
    color: #fff;
}
.proj-wrap:hover .proj-title{
    border-bottom: #fff 1px solid;
}
.proj-wrap h3{
    color: #0067B9;
    text-align: center;
    vertical-align: bottom;
    line-height: 1em;
}
.proj-wrap p{
    padding: 10px;
}
.proj-title{
    min-height: 70px;
    border-bottom: #E03C31 1px solid;
}


#events-row{
    background-color: #0067B9;
    /* padding-top:50px; */
    
}
#events-row a:hover{
    text-decoration: none;
}
#events-row h2 a{
    color: #fff;
}
.all-events{
    padding-top: 20px;
    padding-bottom: 20px;
    flex-wrap: wrap;
}
.event-wrap{
    display: flex;
    color: #fff;
    border: #ffffff00 1px solid;
    /* margin-right: 20px; */
    
}
.event-pad{
    flex-grow: 1;
    width: 33.3%;
    max-width: 33.5%;
    padding: 20px;
}
.event-pad a:hover{
    text-decoration: none;
}
.event-pad .webcast:hover {
    text-decoration: underline;
}
.event-pad .webcast:hover a{
    color: #ECC3B2;
}
.event-pad .webcast:hover a k{
    color: #ECC3B2;
}
.event-wrap:last-child{
    margin-right: 0;
}
.event-wrap p{
    margin:0;
    font-size: 16px;
    line-height: 1.1em;
}
.event-wrap .day{
    font-weight: 900;
    font-size:26px;
    letter-spacing: 2px;
    /* line-height: 18px; */
}
.event-wrap a{
    line-height: 1.1em;
}
.event-wrap .month{
    font-weight: 500;
    font-size:20px;
    text-transform: uppercase;
}


.event-wrap .date{
    padding: 10px;
    text-align: center;
    /* background: #fff; */
    color: #fff;
    border: 1px #fff solid;
    border-radius: 5px;
}
.event-wrap .event-info{
    padding: 10px;
}

.event-info .title{
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.event-info a{
    color: unset;
}
.event-info k{
    width:20px;
    text-align: center;
    color: #eeeeee88;
    font-size: 14px;
}

.event-wrap:hover{
    border: #fff 1px solid;
    border-radius: 6px;
    background: #11111122
}
.event-wrap:hover .date{
    background: #fff;
    color: #0067B9;
}

#news-row{
    padding-top:100px;
    padding-bottom:100px;
    width: 100%;
}
.all-news{
    display: flex;
    overflow: auto;
    padding: 20px 0;
    /* background-color: #eee; */
}

.home-row h2{
    width: fit-content;
    display:table;
    font-weight: 100;
}
.home-row h2 a{
    color: #0067B9;
    display: table;
    padding: 2px 5px 5px;
}
.home-row h2 hr{
    margin:0;
    width: 40%;
    border: 1px solid #E03C31;
    margin-top:0px;
}
.news-wrap{
    width: 25%;
    min-width: min-content;
    padding: 12px;
    /* background-color: #eee; */
    height: fit-content;
}
.news-wrap a:hover{
    color: unset;
}
.news-wrap:hover h3{
    color: #E03C31;
}
.thumbnail{
    width:100%;
    height: 200px;
}
.thumbnail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
h3.news-title{
    font-size: 22px;
    font-weight: 500;
}
p.news-date{
    font-size:14px;
    margin:0;
    font-weight: 300;
    margin-top:12px;
    margin-bottom: 4px;
    color: #0067B9;
}
.news-date .justby{
    font-style: italic;
    font-weight: 100;
    color: #000;
}
.news-date .source{
    color: #000;
}
#news-row .btn{
    margin: auto;
    width:fit-content;
    display: block;
}
.btn button{
    background-color: #D9E1E2;
    color: #0067B9;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    width: fit-content;
    padding: 5px;
    border-left: 1px solid #E03C31;
    
}
.btn button:hover{
    text-decoration: underline;
    color: #0067B9;
}

#second-banner{
    background: #0067B9;
    position: relative;
    /* height: 400px; */
}
#second-banner .background{
    position: absolute;
    top:0;
    height: 100%;
    z-index: 0;
}
#second-banner .background img{
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}
#second-banner .text{
    width: 60%;
    padding: 80px 0;
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    position: relative;
}
#second-banner .text p{
    font-weight: 100;
    font-style: italic;
    color: #fff;
    font-family: 'halyard-display', sans-serif;
    font-size: 28px;
    padding: 20px;

    text-align: center;
    border-left: 1px solid #ECC3B2;
    border-right: 1px solid #ECC3B2;
}
